.contentSpan {
    display: inline-block;
    padding: 2px;
    width: 80%;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-align: center;
}

.omitted {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.horizontal-middle {
    margin: 0 auto;
}

.vertical-middle {
    margin: auto 0;
}

.borderDiv {
    border: 2px solid black;
    border-radius: 2%;
    background-color: white;
}

.underline {
    text-decoration: underline;
}
/* .div_horizontal_center {
    text-align: center;
    border: 1px solid #000;
}
.img_horizontal_center {
    margin: 0 auto;
} */
